[submodule "external/epanet"]
	path = external/epanet
	url = https://github.com/aowis-org/EPANET.git
	branch = aowis-integration
[submodule "external/GeographicLib"]
	path = external/GeographicLib
	url = https://github.com/geographiclib/geographiclib.git
